<!DOCTYPE html>
<html>
<body>
    <h1>Soccer App Homepage</h1>
    <p>Please enter player information.</p>

    <table>
        <form>
            <tr>
                <td>
                    <label for="name">
                        Name
                    </label>
                </td>
                <td><input type="text" id="name" />
                </td>
            </tr>
            <tr>
                <td><label for="age">
                        Age
                    </label>
                </td>
                <td><input type="number" id="age" />
                </td>
            </tr>
            <tr>
                <td><label for="club_name">
                        Club Name
                    </label>
                </td>
                <td><input type="text" id="club_name" />
                </td>
            </tr>
            <tr>
                <td><label for="number_years_played">
                        Number of Years Played
                    </label>
                </td>
                <td><input type="number" id="number_years_played" />
                </td>
            </tr>
            <tr>
                <td><label for="state">Choose a Home State:
                    </label>
                </td>
                <td>
                <select id="home_state" name="home_state">
                    <option value="ca">CA</option>
                    <option value="nv">NV</option>
                    <option value="ny">NY</option>
                    <option value="international">International</option>
                </select>
                </td>
            </tr>
            <tr>
                <td><label for="player_position">Select player position:
                    </label>
                </td>
                <td>
                    <input type=radio name=player_position value=Forward>   Forward<br>
                    <input type=radio name=player_position value=Midfielder>    Midfielder<br>
                    <input type=radio name=player_position value=Defender>  Defender<br>
                    <input type=radio name=player_position value=Goalkeeper>    Goalkeeper<br>
                </td>
            </tr>


        </form>
    </table>


</body>
</html>